.tp-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(124, 173, 96);
 }
 .tp-section {
    display: list-item;
    align-content: left;
    align-items: left;
    height: 60px;
    width:100px;   
 }