#home {
  width: auto;
}

.home-class {
  background-image: url("../static/images/Home-back.jpg") !important;
  background-position: center;
  background-repeat: round;
  background-size: contain;
  background-size: cover;
}

.title_card{
  width: 100%;
  height: 100%;
  margin: 5%;
}

.center{
  margin: auto;
  width: fit-content;
  padding: 5px;
}

/* :host {
  display: inline;
  /* padding: 100px; 
}*/
 
