

<div *ngIf="!loginDisplay">
  <p style="color: rgb(226, 44, 31); text-align: center;">Please sign-in to see your profile information.</p>
</div>
<div *ngIf="loginDisplay">
  <mat-card class="title-card">
    <mat-card-content>
      <div class="center" > <h1>Hello, {{userName}}!</h1></div>
    </mat-card-content>
  </mat-card>
</div>
<div id="home" class="home-class" style="border: 2px; border-color: black; text-align: justify;">
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>


</div>
