.example-toolbar{
  flex: 1 1 auto;
}

.flexExpand {
  flex: 1 1 auto;
}

.mat-sidenav, .mat-sidenav-content {
  padding: 24px;
}

.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.cart-item-nr{
  position: relative;
  min-height: 25px;
  min-width: 25px;
  border-radius: 70%;
  font-size:1em;
  background: rgb(154, 188, 202);
  color: rgb(8, 15, 8);
  text-align: center;
  top: -40px;
  right: -22px;
  margin-right: 4em;
}
.mat-list-item {
  border: solid 2px #000;
}

ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}
ngb-carousel img {
  width: 100%;
  outline: none;
}
ngb-carousel {
  width: inherit;
  height: inherit;
}
.carousel-inner {
  overflow: visible;
}
.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}
.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}
.carousel-indicators{
  z-index: 20;
}

img {
  
  float: center;
    width:  inherit;
    height: inherit;
    /* object-fit: cover;  */
}

.item {
  height: 300px;
  /* overflow: hidden; */
  width: 100%;
  object-fit: cover;
  }
  .item img {
  width: 100%;
  height: inherit;
  }