<header>
  
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-between"
  >
    <div class="container">
      <a class="navbar-brand " [routerLink]="['/'] " >
        <img src="/assets/lounge-logo.gif"  alt="FurnitureFrontUI" height="70px" >
        
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-center"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow ">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/products']">Products</a>
          </li>
        </ul>

        
      </div>
      <div class="toolbar-spacer">
        <ul class="navbar-nav flex-grow ">
        
          <div class="container-fluid d-sm-inline-flex justify-content-end ">
            <li class="nav-item" [routerLinkActive]="['link-active']" mr-2>
              <a class="nav-link text-dark position-relative" [routerLink]="['/fetch-data']">
              <mat-icon font-size="30px">shopping_cart</mat-icon>
              <div class="cart-item-nr" (mouseover)="changeText=true" (mouseout)="changeText=false">0
                <span *ngIf="!changeText"></span>
                <span *ngIf="changeText">Nr of items in cart</span>

              </div>
              </a>
            </li>
            
          <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
            />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </form>
        </div>
        <div
        class="toolbar-spacer justify-content-center"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow ">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a mat-button [routerLink]="['/login']">Profile</a>
            <button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()" >Login</button>
            <button mat-raised-button *ngIf="isUserLoggedIn" (click="logout()">Logout</button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']"
              >Register</a>
          </li>
          </ul>
          </div>
      
    </ul>
      </div>
    </div>
  </nav>
  <mat-sidenav-container>
    <p>sidenav works</p>
  </mat-sidenav-container>
  
</header>

