<h1 id="tableLabel">Products</h1>

<p>This component demonstrates fetching Products from the server.</p>
<hr>

<mat-grid-list [cols]="5" rowHeight="800px" >
  <mat-grid-tile *ngFor="let product of products">
<mat-card>
<mat-card-header>
  <div mat-card-avatar>
    <img mat-card-image  alt="={{product.name}}"> 
    <!-- //src="{{product.picture}}" -->
  </div>
  <mat-card-title>{{product.name}}</mat-card-title>
</mat-card-header>
<hr>
<img mat-card-image src="" onerror="this.src='https://media.istockphoto.com/id/977415490/ro/vector/canapele-%C8%99i-canapele-living-si-mobilier-de-terasa-pictograme-vectoriale.jpg?s=1024x1024&w=is&k=20&c=8d7TNfhJpXwyDBahMAkj_5LGe51aFKyysfDQDWUPf3E='" alt="={{product.name}}">
<!-- src="{{product.picture}}" -->
<hr>
<mat-card-content>
  <p>The product: {{product.name}} costs: {{product.price}}</p>
</mat-card-content>
<mat-card-actions width="200px">
  <p aria-live="polite">Nr of likes: <strong>{{ product.likeCount }}</strong></p>
  <button mat-raised-button color="accent" (click)="increaseLikes(product)" background-color="yellow" >Like</button>
  <button mat-raised-button color="warn" (click)="decreaseLikes(product)" >Unlike</button>
  <button mat-raised-button (click)="goToEditProduct(product)">Edit 
    {{product.name}}</button>
  <button mat-button mat-raised-button color="primary">Add to cart</button>

  
</mat-card-actions>

</mat-card>
</mat-grid-tile>
</mat-grid-list>

<hr>
<p *ngIf="!products?.length"><em>Loading...</em></p>
<div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products.length" width="90%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price </th>
      <th>Date Created</th>
      <th>Picture</th>
      <th>Parts List</th> -->
      <th>Categories List</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.created }}</td>
      <!-- <td>{{ product.picture }}</td> -->
      <td *ngFor="let part of product.parts||[]">
      <span>
        <ng-container *ngIf="!part">
          None
        </ng-container>
      </span>
      {{part}}</td>
      <!-- <td *ngFor="let categ of product.categories">{{categ}}</td> -->
      <td><button mat-button (click)="goToEditProduct(product)">Edit Product</button></td>

    </tr>
  </tbody>
</table>

</div>
