<p>parts works!</p>
<h1 id="tableLabel">Parts</h1>


<p>This component demonstrates fetching Parts from the server as a.</p>

<p *ngIf="!parts?.length"><em>Loading...</em></p>
<!-- <mat-card> -->
     <!-- <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let part">{{ part.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let part">{{ part.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="QuantityInStock">
        <th mat-header-cell *matHeaderCellDef>QuantityInStock</th>
        <td mat-cell *matCellDef="let part">{{ part.quantityinstock }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let part">{{ part.price }}</td>
      </ng-container>
  
      
      <ng-container matColumnDef="Categories List">
        <th mat-header-cell *matHeaderCellDef>Categories List</th>
        <td mat-cell *matCellDef="let part">{{ part.categories }}</td>
      </ng-container>

      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef>Picture</th>
        <td mat-cell *matCellDef="let part">{{ part.picture }}</td>
      </ng-container>

      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let part">
          <button mat-button color="primary" (click)="goToEditPart(part)">
            Edit Part: {{part.name}}
          </button>
        </td>
      </ng-container>
  
      
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table> -->

<!-- </mat-card> -->


<hr>
<p *ngIf="!parts?.length"><em>Loading...</em></p>
<div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="parts.length" width="90%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>QuantityInStock</th>
      <th>Sales price </th>
      <!-- <th>Categories List</th>
      <th>Picture</th> -->
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let part of parts">
      <td>{{ part.id }}</td>
      <td>{{ part.name }}</td>
      <td>{{ part.quantityInStock }}</td>
      <td>{{ part.salesprice }}</td>
      <!-- <td>{{ part.categories}}</td>
      <td>{{ part.picture }}</td> -->
    
      <!-- <td *ngFor="let categ of part.categories">{{categ.name}}</td> -->
      <td><button mat-button (click)="goToEditPart(part)">Edit Part</button></td>

    </tr>
  </tbody>
</table>

</div>