<p>update-product works!</p>

<!-- <h3>update-product {{product.name}}: {{product.id}}</h3> -->
<!-- {{ product.name }} -->
<div class="form" *ngIf="product">
    <form [formGroup]="UpdateProductForm" class="form-group" (ngSubmit)="onSubmit(UpdateProductForm)">

        <mat-form-field appearance="fill">
            <mat-label for="productname">Product Name</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   formControlName="productname"
                   placeholder="Name"
                   [(ngModel)]="product.name"
                   #productname>
            <mat-error *ngIf="UpdateProductForm.controls['productname'].errors?.['required']">Name is required</mat-error>       
            <mat-error *ngIf="UpdateProductForm.controls['productname'].errors?.['minlength']">Minimum 4 characters</mat-error>
            
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="interest">Interest</mat-label>
            <input matInput
                   class="form-control"
                   type="interest"
                   formControlName="interest"
                   placeholder="xx,xx"
                   [(ngModel)]="product.interest"
                   #interest>
            <mat-error *ngIf="UpdateProductForm.controls['interest'].errors?.['required']">Interest is required</mat-error>
            <!-- <mat-error *ngIf="UpdateProductForm.controls['interest'].errors?.['pattern']">Interest must be decimal</mat-error> -->
            
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateProduct(product)" *ngIf="product.id">Update</button>
        <button mat-raised-button color="warn" (click)="deleteProduct(product)" *ngIf="product.id">Delete</button>
        <button mat-raised-button color="accent" (click)="createProduct(product)" *ngIf="!product.id">Create</button>

        
    </form>
 
</div>
