<p>update-product works!</p>

<!-- <h3>update-product {{product.name}}: {{product.id}}</h3> -->
<!-- {{ product.name }} -->
<div class="form" *ngIf="product">
    <form [formGroup]="UpdateProductForm" class="form-group" (ngSubmit)="onSubmit(UpdateProductForm)">

        <mat-form-field appearance="fill">
            <mat-label for="productname">Product Name</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   formControlName="productname"
                   placeholder="Name"
                   [(ngModel)]="product.name"
                   #productname>
            <mat-error *ngIf="UpdateProductForm.controls['productname'].errors?.['required']">Name is required</mat-error>       
            <mat-error *ngIf="UpdateProductForm.controls['productname'].errors?.['minlength']">Minimum 4 characters</mat-error>
            
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="price">Price</mat-label>
            <input matInput
                   class="form-control"
                   type="price"
                   formControlName="price"
                   placeholder="xx.xx"
                   [(ngModel)]="product.price"
                   #price>
            <mat-error *ngIf="UpdateProductForm.controls['price'].errors?.['required']">Price is required</mat-error>
            <mat-error *ngIf="UpdateProductForm.controls['price'].errors?.['pattern']">Price must be decimal</mat-error>
            
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateProduct(product)" *ngIf="product">Update</button>
        <button mat-raised-button color="primary" (click)="deleteProduct(product)" *ngIf="product">Delete</button>
        <button mat-raised-button color="primary" (click)="createProduct(product)" *ngIf="product">Create</button>

        
    </form>
 
</div>
